body {
    background-color: rgb(255, 255, 255);
    font-size: 120%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(walpaper.jpg);
   
}
.bruh {
    background-color: rgba(41, 159, 189, 0.76);
    text-align: center;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.384);
    width: 30%;
    margin: 0 auto;
    border: solid rgba(41, 159, 189, 0.76);
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 68, 255, 0.979);
    border: solid rgba(0, 68, 255, 0.979);
    border-radius: 5px;
}
.szoveg {
    background-color: rgba(255, 255, 255, 0.76);
}
.forras {
    background-color: rgba(255, 255, 255, 0.76);
    width: 3.5%;
}